apache-beam==2.61.0
apache-flink==2.0.0
apache-flink-libraries==2.0.0

numpy==2.1.2
pandas==2.3.3
scipy==1.15.3
scikit-learn==1.7.2
river==0.22.0
pyod==2.0.5

matplotlib==3.10.7
seaborn==0.13.2

pymongo==4.15.4
redis==5.3.1

torch==2.7.1
torchvision==0.22.1